body {
    background-color: #343434;
}
.input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: white;
    box-sizing: border-box;
    font-family: 'Arvo';
    font-size: 18px;
    height: 50px;
    margin: -25px 0 0 -100px;
    padding: 10px 0px;
    position: absolute;
    width: 200px;
}
input:focus {
    outline: none;
}
input::-webkit-input-placeholder {
    color: black;
}
input:focus::-webkit-input-placeholder {
    color: #FFDB58;
}
input:focus + .underline {
    transform: scale(1);
}
.underline {
    background-color: #FFDB58;
    display: inline-block;
    height: 2px;
    margin-top: -4px;
    position: absolute;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 202px;
}

.posicion1{
    left: 50%;
    top: 25%;
}
.posicion2{
    left: 50%;
    top: 35%;
}
.posicion3{
    left: 50%;
    top: 45%;
}

.pos1{
    left: 44.5%;
    top: 28%;
}
.pos2{
    left: 44.5%;
    top: 38%;
}
.pos3{
    left: 44.5%;
    top: 48%;
}

.volver{
    background-color: #FFDB58;
    border: 3px solid black;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    width: 80px;
    height: 35px;
    font-size: 1vw;
    cursor: pointer;
}
.submit{
    position: absolute;
    top: 53%;
    left: 46.5%;
    background-color: #FFDB58;
    border: 3px solid black;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    width: 120px;
    height: 35px;
    cursor: pointer;
}
.p1{
    color: red;
    position: absolute;
    left: 58%;
    top: 23%;
}
.p2{
    color: red;
    position: absolute;
    left: 58%;
    top: 33%;
}
.p3{
    color: red;
    position: absolute;
    left: 58%;
    top: 43%;
}