body {
    background-color: #343434;
}

nav{
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background: black;
    height: 60px;
}

.select {
    display: inline-block;
    max-width: 155px;
    position: relative;
    padding-top: 12px;
    padding-left: 15px;
    margin-bottom: 20px;
    width: 155px;
}

.select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 15px;
    height: 42px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: black;
    font-size: 1em;
    color: black;
    font-family:
            'Quicksand', sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.select select:hover {
    background: lightgray;
}

.select i {
    position: absolute;
    right: 20px;
    top: calc(50% - 6px);
    width: 15px;
    height: 15px;
    display: block;
    border-left: 4px solid grey;
    border-bottom: 4px solid grey;
    transform: rotate(-45deg);
    /* Giramos el cuadrado */
}

.select:hover i {
    margin-top: 3px;
    border-top: 4px solid grey;
    border-bottom: 0px;
}

.select2 {
    display: inline-block;
    max-width: 190px;
    position: relative;
    padding-top: 12px;
    padding-left: 15px;
    margin-right: 13px;
    margin-bottom: 20px;
    width: 190px;
}

.select2 select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select2 select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 15px;
    height: 42px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: black;
    font-size: 1em;
    color: black;
    font-family:
            'Quicksand', sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.select2 select:hover {
    background: lightgray;
}
.select2 i {
    position: absolute;
    right: 20px;
    top: calc(50% - 6px);
    width: 15px;
    height: 15px;
    display: block;
    border-left: 4px solid grey;
    border-bottom: 4px solid grey;
    transform: rotate(-45deg);
    /* Giramos el cuadrado */
}

.select2:hover i {
    margin-top: 3px;
    border-top: 4px solid grey;
    border-bottom: 0px;
}

.flex-item {
    margin: 5px;
    width: 550px;
    height: 450px;
}
img{
    width: 250px;
    height: 250px;
}


#boton{
    width: 30%;
    font-size: small;
}
#boton2{
    width: 35%;
    font-size: small;
}

.imagen-lista img{
    max-width: 40px;
    height: 59px;
}

#submit{
    background: #f0f0f0;
    color: black;
    cursor: pointer;
    padding: 7px 15px;
    border-radius: 10px;
    outline: 0;
    border: 2px solid rgba(0, 0, 0, 0.2);
    height: 42px;
    font-size: 1em;
    font-family:
            'Quicksand', sans-serif;
    max-width: 150px;
}
#submit:hover{
    background: lightgray;
}

#edad{
    margin-left: 20%;
    margin-top: 20px;
    width: 60px;
    text-align: center;
    font-size: medium;
    display: inline-block;
}

#star{
    color: rgb(182, 182, 0);
}


/*Mirar si el mapeado nuevo hay que darle algun estilo nuevo a la informacion*/